@CHARSET "UTF-8";

body {
	width:100%;
	border: solid;
	padding: 15px;
}

#form {
	margin 15px;
	padding: 15px;
	width:400px;
	border: solid;
	border-radius: 5px;
}
#head {
	height: 100px;
	
}

#menu {
	width:100%;
	padding:5px;
	
}

ul {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    float: left;
    width: 6em;
    text-decoration: none;
    color: white;
    background-color: purple;
    padding: 0.2em 0.6em;
    border-right: 1px solid white;
}

a:hover {
    background-color: fuchsia;
}

li {
    display: inline;
}