#container{
    width:622px;
    height:610px;
    margin: 50px auto;
}


#wrapper{
    width: 520px;
    padding: 0px 50px 20px;
    background: linear-gradient(#fff,#AFEBD8);
    border: 1px solid #ccc;
    box-shadow: 0 0 5px;
    font-family: 'Marcellus', serif;
    float:left;
    margin-top: 10px;
}

#menu{
    float:left;
    width: 200px;
    margin-top: -30px;
}

#detail{
    float:left;
    width: 320px;
    margin-top: -27px;
}

a{
    text-decoration: none;
    color: blue;
}

a:hover{
    color: red;
}

li{
    padding: 4px 0;
}

h1{
    text-align: center;
    font-size: 28px;
}

hr{
    border: 0;
    border-bottom: 1.5px solid #ccc;
    margin-top: -10px;
    margin-bottom: 30px;
}

#hide{
    display:none;
}

form{
    margin-top: -40px;
}

label{
    font-size: 17px;
}

input{
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px;
    border: none;
    box-shadow: 0 0 5px;
}

input#submit{
    margin-top: 10px;
    font-size: 18px;
    background: linear-gradient(#22abe9 5%, #36caf0 100%);
    border: 1px solid #0F799E;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    text-shadow: 0px 1px 0px #13506D;
}

input#submit:hover{
    background: linear-gradient(#36caf0 5%, #22abe9 100%);
}

p{
    font-size: 18px;
    font-weight: bold;
    color: rgb(24, 175, 11);
}